table, th, td{
    border: 2px solid black;
    border-radius: 5px;
    color:black;
    text-align: center;
}
table{
    background-image: url(imagens/tubarao\ atacadao.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}
