body{
    background-image: url(/imagens/Toothless-dancing-toothless.gif);
    background-size: 70%;
    background-repeat: no-repeat;
    margin-top: 10%;
}
form{
display: flex ;
text-align: center;
justify-content: center;
flex-direction: column;
margin-left: 40%;
margin-right: 40%;

}
form input{
    border-radius: 5px;
    border: 1px solid black;
}

